@charset "UTF-8";

/*  
    fonte : Gilda display
    cores dos site: 
     color: #F2C744; amarelo
     color: #F29B30; laranja 
     color: #F2762E;laranja com tom mais escuro 

*/

:root {
    --color-amarelo: #F2C744; 
    --cor-laranja: #F29B30;
    --cor-laranja-com-tom-mais-escuro: #F2762E;
    --font-Gilda-display : 'Lumanosimo', cursive,Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

/*Configurações do menu*/
header{
    height: 270px;
    background-color: black;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

header p {
    font-size: 1.3em;
    text-align: center;
    padding: 15px;
    background-color: #D9D9D9;
    color: black;
}

header > div.logo {
    display: block;
    background-image: url(../imagens/logo-infinity\ 100px.jpg);
    height: 110px;
    background-repeat: no-repeat;
    margin: 10px;
    margin-left: 40px;
}
nav {
    display: inline-block;
    width: 100vw;
    height: 30px;
    
}

span {
    display: inline-block;
}

nav > span#icone-menu {
   font-size: 2em;
   margin-left: 20px;
   margin-right: 20px;
}

nav > span#icone-menu:hover {
    color:var(--color-amarelo);
}


form {
    display: inline;
    width: 100px;
    position: relative;
    left: 8%;
    top: -12px;
}

form > input#ipesq.pesquisa {
    width: 190px;
    height: 24px;
    border-radius: 10px;
}

form >span#icone-pesquisa {
    font-size: 1.8em;
    position: relative;
    top: 10px;
    left: -6px;
}

form >span#icone-pesquisa:hover {
    color: var(--color-amarelo);
}

span#icone-sacola {
    font-size: 2em;
    color: white;
    position: relative;
    left: 8%;
}

span#icone-sacola:hover {
    color: var(--color-amarelo);
}

/*
    Configurações do conteudo > main
*/

section.anuncio {
    height: 100px;
    text-align: center;
    font-family: var(--font-Gilda-display);
    font-size: .9em;
    margin-top: 50px;
}

img#jordan {
    display: inline;
    width: 100vw;
    border-radius: 20px;
}
section#primeiro-conteudo {
    background-color: #444143;
    border-radius: 20px 20px 10px 0px ;
}

section >div#baner00>a#botao-baner00 {
    background-color: #70091B;
    font-size: 1em;
    color:white;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.486);
    text-decoration: none;
    position: relative;
    top: -35px;
    left: 70vw;
}

section >div#baner00>a#botao-baner00:hover {
    color:  #000000;
    background-color: #f80029;
}
article {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    width: 50vw;
    padding: 20px;
    border-radius: 20px;
   
}

article>h2 {
    margin-bottom: 20px;
    text-align: left;
}

article>p {
    text-indent: 30px;
    text-align: center;
    text-align: justify;
    line-height: 1.4em;
}

section>aside>div.modelo {
    display: inline-block;
    background-image: url(../imagens/modelo-1.jpg);
    background-size: cover;
    height: 150px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    left: 65vw;
    top: -380px;
    border-radius: 10px;

}





